/attestor-examples
/attestor-ws
/jmhBenchmarkHelper
/Literature
attestor/examples/RefDLL/configuration/inputs/dll.json
attestor/examples/RefDLL/configuration/grammar/RenameDLL.java
attestor/examples/RefDLL/configuration/export/statespace.html
attestor/examples/RefDLL/configuration/export/lib/typeahead.bundle.js
attestor/examples/RefDLL/configuration/export/lib/styleHc.cycss
attestor/examples/RefDLL/configuration/export/lib/style.cycss
attestor/examples/RefDLL/configuration/export/lib/style.css
attestor/examples/RefDLL/configuration/export/cex_0/hc_2.json
attestor/examples/RefDLL/configuration/export/cex_0/hc_1.json
attestor/examples/RefDLL/configuration/export/cex_0/hc_0.json
attestor/examples/RefDLL/configuration/export/attestor-report.sh
attestor/examples/RefDLL/configuration/export/attestor-report.jar
attestor/examples/RefDLL/configuration/export/attestor-report.bat
attestor/examples/RefDLL/configuration/code/DLList.java
attestor/examples/AVLTree/configuration/settings/search_and_swap_S.attestor
attestor/examples/AVLTree/configuration/settings/search_and_swap_C.attestor
attestor/examples/AVLTree/configuration/settings/search_and_back_S.attestor
attestor/examples/AVLTree/configuration/settings/search_and_back_C.attestor
attestor/examples/AVLTree/configuration/settings/right_left_rotate.attestor
attestor/examples/AVLTree/configuration/settings/rebalance_S.attestor
attestor/examples/AVLTree/configuration/settings/rebalance_C.attestor
attestor/examples/AVLTree/configuration/settings/min_value_S_final.attestor
attestor/examples/AVLTree/configuration/settings/min_value_S.attestor
attestor/examples/AVLTree/configuration/settings/min_value_C.attestor
attestor/examples/AVLTree/configuration/settings/list_to_avl_S.attestor
attestor/examples/AVLTree/configuration/settings/list_to_avl_C.attestor
attestor/examples/AVLTree/configuration/settings/insert_S.attestor
attestor/examples/AVLTree/configuration/settings/binary_search_S_final.attestor
attestor/examples/AVLTree/configuration/settings/binary_search_S.attestor
attestor/examples/RefDLL/configuration/settings/faultyReverse3_S.attestor
attestor/examples/RefDLL/configuration/settings/faultyReverse2_S.attestor
attestor/examples/RefDLL/configuration/settings/faultyReverse1_S.attestor
attestor/examples/RefDLL/configuration/settings/buildList.attestor
attestor/examples/RefDLL/configuration/settings/buildAndTraverse.attestor
attestor/examples/RefDLL/configuration/settings/MC_Shape_traverseWithInitialList.attestor
attestor/examples/RefDLL/configuration/settings/MC_Shape_reverseWithInitialList.attestor
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/css/bootstrap.css.map
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/css/bootstrap.css
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css.map
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/css/bootstrap-theme.css.map
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/css/bootstrap-theme.css
attestor/examples/RefDLL/configuration/export/lib/bluebird.min.js
attestor/examples/RefDLL/configuration/export/lib/attestor-viewer.js
attestor/examples/RefDLL/configuration/export/lib/attestor-overview.js
attestor/examples/RefDLL/configuration/export/index.html
attestor/examples/RefDLL/configuration/export/data/statespace.json
attestor/examples/RefDLL/configuration/export/data/overview.json
attestor/examples/RefDLL/configuration/export/data/hc_6.json
attestor/examples/RefDLL/configuration/export/data/hc_5.json
attestor/examples/RefDLL/configuration/export/data/hc_4.json
attestor/examples/RefDLL/configuration/export/data/hc_3.json
attestor/examples/RefDLL/configuration/export/data/hc_2.json
attestor/examples/RefDLL/configuration/export/data/hc_1.json
attestor/examples/RefDLL/configuration/export/data/hc_0.json
attestor/examples/RefDLL/configuration/export/counterexample.html
attestor/examples/RefDLL/configuration/export/cex_0/statespace.json
attestor/examples/RefDLL/configuration/export/cex_0/hc_4.json
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/fonts/fontawesome-webfont.svg
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/fonts/fontawesome-webfont.eot
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/fonts/FontAwesome.otf
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/css/font-awesome.min.css
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/css/font-awesome.css
attestor/examples/RefDLL/configuration/export/lib/fastclick.min.js
attestor/examples/RefDLL/configuration/export/lib/dagre.min.js
attestor/examples/RefDLL/configuration/export/lib/cytoscape.min.js
attestor/examples/RefDLL/configuration/export/lib/cytoscape-qtip.js
attestor/examples/RefDLL/configuration/export/lib/cytoscape-dagre.js
attestor/examples/RefDLL/configuration/export/lib/cytoscape-cxtmenu.js
attestor/examples/RefDLL/configuration/export/lib/bootstrap.min.js
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/js/npm.js
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/js/bootstrap.js
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.woff2
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.woff
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.ttf
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.svg
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.eot
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css.map
attestor/examples/RefDLL/configuration/export/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css
attestor/examples/AVLTree/configuration/settings/binary_search_C.attestor
attestor/examples/AVLTree/configuration/inputs/inserted.json
attestor/examples/AVLTree/configuration/inputs/emptyInput.json
attestor/examples/AVLTree/configuration/inputs/difficultRebalance.json
attestor/examples/AVLTree/configuration/inputs/debug_switch.json
attestor/examples/AVLTree/configuration/inputs/before_right_left_2.json
attestor/examples/AVLTree/configuration/inputs/before_right_left.json
attestor/examples/AVLTree/configuration/inputs/before_right.json
attestor/examples/AVLTree/configuration/inputs/before_left_right_3.json
attestor/examples/AVLTree/configuration/inputs/before_left_right_2.json
attestor/examples/AVLTree/configuration/inputs/before_left_right.json
attestor/examples/AVLTree/configuration/inputs/before_left.json
attestor/examples/AVLTree/configuration/inputs/balanced_tree_with_this.json
attestor/examples/AVLTree/configuration/inputs/balanced_tree.json
attestor/examples/AVLTree/configuration/grammar/avltree.json
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/scss/_icons.scss
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/scss/_fixed-width.scss
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/scss/_core.scss
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/scss/_bordered-pulled.scss
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/scss/_animated.scss
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/less/variables.less
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/less/stacked.less
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/less/screen-reader.less
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/less/rotated-flipped.less
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/less/path.less
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/less/mixins.less
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/less/list.less
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/less/larger.less
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/less/icons.less
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/less/font-awesome.less
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/less/fixed-width.less
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/less/core.less
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/less/bordered-pulled.less
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/less/animated.less
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/fonts/fontawesome-webfont.woff2
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/fonts/fontawesome-webfont.woff
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf
attestor/examples/RefDLL/configuration/export/lib/lodash.min.js
attestor/examples/RefDLL/configuration/export/lib/jquery.qtip.min.js
attestor/examples/RefDLL/configuration/export/lib/jquery.qtip.min.css
attestor/examples/RefDLL/configuration/export/lib/jquery.min.js
attestor/examples/RefDLL/configuration/export/lib/icon.png
attestor/examples/RefDLL/configuration/export/lib/handlebars.min.js
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/scss/font-awesome.scss
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/scss/_variables.scss
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/scss/_stacked.scss
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/scss/_screen-reader.scss
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/scss/_rotated-flipped.scss
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/scss/_path.scss
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/scss/_mixins.scss
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/scss/_list.scss
attestor/examples/RefDLL/configuration/export/lib/font-awesome-4.7.0/scss/_larger.scss
attestor/examples/RefDLL/configuration/settings/MC_Reach_traverseWithInitialList.attestor
attestor/examples/RefDLL/configuration/settings/MC_Reach_reverseWithInitialList.attestor
attestor/examples/RefDLL/configuration/settings/MC_NeighbourhoodPreservance_traverseWithInitialList.attestor
attestor/examples/RefDLL/configuration/settings/MC_NeighbourhoodPreservance_reverseWithInitialList.attestor
attestor/examples/RefDLL/configuration/settings/MC_Completeness_traverseWithInitialList.attestor
attestor/examples/RefDLL/configuration/settings/MC_Completeness_reverseWithInitialList.attestor
attestor/examples/RefDLL/configuration/settings/CEG_walkAround_return.attestor
attestor/examples/RefDLL/configuration/settings/CEG_traverse_inverse_final_pos.attestor
attestor/examples/RefDLL/configuration/settings/CEG_reverse_final_pos.attestor
attestor/examples/RefDLL/configuration/settings/CEG_findLast_spurious.attestor
attestor/examples/RefDLL/configuration/settings/CEG_dummyWalkAround.attestor
attestor/examples/RefDLL/configuration/settings/CEG_dummyReverse.attestor
attestor/examples/RefDLL/configuration/inputs/dllNullHeadTail.json
attestor/examples/RefDLL/configuration/inputs/dllNull.json
attestor/examples/RefDLL/configuration/inputs/dllHeadTail.json
attestor/examples/RefDLL/configuration/settings/traverse.attestor
attestor/examples/AVLTree/configuration/grammar/avlTreeWithoutIndices.json
attestor/examples/AVLTree/configuration/grammar/RenameSLL.java
attestor/examples/AVLTree/configuration/contracts/contract_rightRotate.json
attestor/examples/AVLTree/configuration/code/List.java
attestor/examples/AVLTree/configuration/code/AVLTree.java
notes/mc.svg
notes/master thesis notes.aux
notes/master thesis notes - 17032019.pdf
notes/master thesis notes - 15032019.pdf
notes/master thesis notes - 14032019.pdf
notes/mc.png
notes/master thesis notes.toc
notes/master thesis notes.synctex.gz
notes/master thesis notes.out
notes/thesis.toc
notes/thesis.synctex.gz
notes/thesis.out
notes/thesis.aux
*.toc
*.gz
*.out
*.aux
*.blg
*.bbl
notes/Master thesis notes/~$nchmarks.docx
/notes/Master thesis notes/Literature
/benchmark-helper-ws
/attestor-examples-ws
/notes/Attestor Test Notes
Attestor Test Notes
