.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factory()()path

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# JetBrains
attestor.iml
.idea/

# Code Recommenders
.recommenders/

#project/maven specific
/target/

#Log4J
log4j2.xml

attestor/doc/

logfiles/
examples/Tour/configuration/example/lib/font-awesome-4.7.0/less/icons.less
examples/Tour/configuration/example/lib/font-awesome-4.7.0/less/font-awesome.less
examples/Tour/configuration/example/lib/font-awesome-4.7.0/less/fixed-width.less
examples/Tour/configuration/example/lib/font-awesome-4.7.0/less/core.less
examples/Tour/configuration/example/lib/font-awesome-4.7.0/less/bordered-pulled.less
examples/Tour/configuration/example/lib/font-awesome-4.7.0/less/animated.less
examples/Tour/configuration/example/lib/font-awesome-4.7.0/fonts/fontawesome-webfont.woff2
examples/Tour/configuration/example/lib/font-awesome-4.7.0/fonts/fontawesome-webfont.woff
examples/Tour/configuration/example/lib/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf
examples/Tour/configuration/example/lib/font-awesome-4.7.0/fonts/fontawesome-webfont.svg
examples/Tour/configuration/example/lib/font-awesome-4.7.0/fonts/fontawesome-webfont.eot
examples/Tour/configuration/example/lib/font-awesome-4.7.0/fonts/FontAwesome.otf
examples/Tour/configuration/example/lib/font-awesome-4.7.0/css/font-awesome.min.css
examples/Tour/configuration/example/lib/font-awesome-4.7.0/css/font-awesome.css
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/css/bootstrap-theme.css.map
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/css/bootstrap-theme.css
examples/Tour/configuration/example/lib/bluebird.min.js
examples/Tour/configuration/example/lib/attestor-viewer.js
examples/Tour/configuration/example/lib/attestor-overview.js
examples/Tour/configuration/example/index.html
examples/Tour/configuration/example/data/statespace.json
examples/Tour/configuration/example/data/overview.json
examples/Tour/configuration/example/data/hc_9.json
examples/Tour/configuration/example/data/hc_8.json
examples/Tour/configuration/example/data/hc_7.json
examples/Tour/configuration/example/data/hc_6.json
examples/Tour/configuration/example/data/hc_5.json
examples/Tour/configuration/example/data/hc_4.json
examples/Tour/configuration/example/data/hc_37.json
examples/Tour/configuration/example/data/hc_36.json
examples/Tour/configuration/example/lib/font-awesome-4.7.0/scss/_path.scss
examples/Tour/configuration/example/lib/font-awesome-4.7.0/scss/_mixins.scss
examples/Tour/configuration/example/lib/font-awesome-4.7.0/scss/_list.scss
examples/Tour/configuration/example/lib/font-awesome-4.7.0/scss/_larger.scss
examples/Tour/configuration/example/lib/font-awesome-4.7.0/scss/_icons.scss
examples/Tour/configuration/example/lib/font-awesome-4.7.0/scss/_fixed-width.scss
examples/Tour/configuration/example/lib/font-awesome-4.7.0/scss/_core.scss
examples/Tour/configuration/example/lib/font-awesome-4.7.0/scss/_bordered-pulled.scss
examples/Tour/configuration/example/lib/font-awesome-4.7.0/scss/_animated.scss
examples/Tour/configuration/example/lib/font-awesome-4.7.0/less/variables.less
examples/Tour/configuration/example/lib/font-awesome-4.7.0/less/stacked.less
examples/Tour/configuration/example/lib/font-awesome-4.7.0/less/screen-reader.less
examples/Tour/configuration/example/lib/font-awesome-4.7.0/less/rotated-flipped.less
examples/Tour/configuration/example/lib/font-awesome-4.7.0/less/path.less
examples/Tour/configuration/example/lib/cytoscape-qtip.js
examples/Tour/configuration/example/lib/cytoscape-dagre.js
examples/Tour/configuration/example/data/hc_35.json
examples/Tour/configuration/example/data/hc_34.json
examples/Tour/configuration/example/data/hc_33.json
examples/Tour/configuration/example/data/hc_32.json
examples/Tour/configuration/example/data/hc_31.json
examples/Tour/configuration/example/data/hc_30.json
examples/Tour/configuration/example/data/hc_3.json
examples/Tour/configuration/example/data/hc_29.json
examples/Tour/configuration/example/data/hc_28.json
examples/Tour/configuration/example/data/hc_27.json
examples/Tour/configuration/example/data/hc_26.json
examples/Tour/configuration/example/data/hc_25.json
examples/Tour/configuration/example/data/hc_24.json
examples/Tour/configuration/example/data/hc_23.json
examples/Tour/configuration/example/data/hc_22.json
examples/Tour/configuration/example/data/hc_21.json
examples/Tour/configuration/example/data/hc_20.json
examples/Tour/configuration/example/lib/cytoscape-cxtmenu.js
examples/Tour/configuration/example/lib/bootstrap.min.js
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/js/npm.js
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/js/bootstrap.js
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.woff2
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.woff
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.ttf
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.svg
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.eot
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css.map
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/css/bootstrap.css.map
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/css/bootstrap.css
examples/Tour/configuration/example/lib/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css.map
examples/Tour/configuration/example/data/hc_18.json
examples/Tour/configuration/example/data/hc_17.json
examples/Tour/configuration/example/data/hc_16.json
examples/Tour/configuration/example/data/hc_15.json
examples/Tour/configuration/example/data/hc_14.json
examples/Tour/configuration/example/data/hc_13.json
examples/Tour/configuration/example/data/hc_12.json
examples/Tour/configuration/example/data/hc_11.json
examples/Tour/configuration/example/data/hc_10.json
examples/Tour/configuration/example/data/hc_1.json
examples/Tour/configuration/example/data/hc_0.json
examples/Tour/configuration/example/counterexample.html
examples/Tour/configuration/example/attestor-report.sh
examples/Tour/configuration/example/attestor-report.jar
examples/Tour/configuration/example/attestor-report.bat
examples/Tour/configuration/example/data/hc_2.json
examples/Tour/configuration/example/data/hc_19.json
examples/Tour/configuration/grammar/SLList.json
examples/Tour/configuration/example/statespace.html
examples/Tour/configuration/example/lib/icon.png
examples/Tour/configuration/example/lib/handlebars.min.js
examples/Tour/configuration/example/lib/font-awesome-4.7.0/scss/font-awesome.scss
examples/Tour/configuration/example/lib/font-awesome-4.7.0/scss/_variables.scss
examples/Tour/configuration/example/lib/font-awesome-4.7.0/less/mixins.less
examples/Tour/configuration/example/lib/font-awesome-4.7.0/less/list.less
examples/Tour/configuration/example/lib/font-awesome-4.7.0/less/larger.less
examples/Recursive/configuration/grammar/Tree.java
examples/Recursive/configuration/grammar/SLL.java
examples/Recursive/configuration/code/TreeRecTraverse.java
examples/Recursive/configuration/code/Tree.java
examples/Recursive/configuration/code/SLLRecZip.java
examples/Recursive/configuration/code/SLLRecTraverse.java
examples/Recursive/configuration/code/SLLRecBuild.java
examples/Recursive/configuration/code/SLL.java
examples/Tour/configuration/example/lib/lodash.min.js
examples/Tour/configuration/example/lib/jquery.qtip.min.js
examples/Tour/configuration/example/lib/jquery.qtip.min.css
examples/Tour/configuration/example/lib/jquery.min.js
examples/Tour/configuration/example/lib/fastclick.min.js
examples/Tour/configuration/example/lib/dagre.min.js
examples/Tour/configuration/example/lib/cytoscape.min.js
examples/Tour/configuration/example.attestor
examples/Tour/configuration/code/SLList.java
examples/Recursive/configuration/settings/tree_rec_traversal.attestor
examples/Recursive/configuration/settings/sll_rec_zip.attestor
examples/Recursive/configuration/settings/sll_rec_traversal.attestor
examples/Recursive/configuration/settings/sll_rec_build.attestor
examples/Tour/configuration/example/lib/typeahead.bundle.js
examples/Tour/configuration/example/lib/styleHc.cycss
examples/Tour/configuration/example/lib/style.cycss
examples/Tour/configuration/example/lib/style.css
examples/Tour/configuration/example/lib/font-awesome-4.7.0/scss/_stacked.scss
examples/Tour/configuration/example/lib/font-awesome-4.7.0/scss/_screen-reader.scss
examples/Tour/configuration/example/lib/font-awesome-4.7.0/scss/_rotated-flipped.scss
examples/Tour/configuration/initial/list.json
